<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hc_app">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="照顧指引"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.hc_app.clean_body"
            android:label="床上洗澡"/>
        <activity android:name="com.example.hc_app.clean_hair"
            android:label="床上洗頭"/>
        <activity
            android:name="com.example.hc_app.clean_menu"
            android:label="床上洗頭、洗澡" />
        <activity
            android:name="com.example.hc_app.wear_clothes"
            android:label="協助穿脫衣、褲" />
        <activity
            android:name=".activity_deathbedpeaceful"
            android:label="臨終關懷及認識安寧照顧" />
        <activity
            android:name=".activity_emergencyconcept"
            android:label="急症概念" />
        <activity
            android:name=".activity_professioncare"
            android:label="專業照顧" />
        <activity
            android:name=".activity_assistexcretion"
            android:label="協助排泄" />
        <activity
            android:name=".activity_assistmedical"
            android:label="協助執行輔助式醫療" />
        <activity
            android:name=".activity_helpstairs"
            android:label="協助上(下)樓" />
        <activity
            android:name=".activity_bodyactive"
            android:label="肢體關節活動" />
        <activity
            android:name=".activity_turnover"
            android:label="翻身拍背" />
        <activity
            android:name=".activity_NGF"
            android:label="管灌及餵食" />
        <activity
            android:name=".activity_lifesign"
            android:label="基本生命徵象" />
        <activity
            android:name=".activity_bodyclean"
            android:label="基本身體清潔" />
        <activity
            android:name=".activity_lifecare"
            android:label="基本日常照顧" />
        <activity android:name=".GuidelineActivity"
            android:label="照顧指引"
            android:logo="@drawable/ic_launcher_foreground"/>
        <activity
            android:name=".MainActivity"
            android:label="居家照顧指引"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settinhs" />
        <activity
            android:name=".WebViewActivity"
            android:label="WebView" />

    </application>

</manifest>